# Example .env file
# Copy this file to .env and fill in the values for the environment variables
# The .env file should not be committed to version control
DB_USER="codexrulesman"
DB_PASS="41h99vxb20d705aqbfy8"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="zenumltojpg"
DATABASE_URL="postgresql://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}"
